<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wgj_testGitHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F275F4901E9CC7E100B02BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F275F4A91E9CC7E200B02BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F275F4B41E9CC7E200B02BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
